<style type="text/css">
	.navBg {
		background-color: rgba(100,80,50,0.15);
		box-shadow: 2px 2px 50px rgba(0,0,0,0.2);
	}
</style>

<nav class="navbar navbar-expand navbar-light navBg d-flex justify-content-center display-4" style="z-index:1000">
	<a class="navbar-brand text-white p-2" href="#">{{"Library"|trans}}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="" id="navbarNav">
		<ul class="navbar-nav d-flex flex-row justify-content-start">
			<li class="nav-item p-2">
				<a class="nav-link text-white" href={{path("book_listing")}}>{{"Books"|trans}}</a>
			</li>

			<li class="nav-item p-2">
				<a class="nav-link text-white" href={{path("client_listing")}}>{{"Clients"|trans}}</a>
			</li>
		</ul>
	</div>
	<div class="p-2 end-0">
		<a class="btn btn-light" href={{path("app_logout")}}>{{"Logout"|trans}}</a>
	</div>
</nav>
