{% extends 'base.html.twig' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block body %}

<div class="container text-white d-flex flex-column align-items-center gap-3 fs-2">
	<h1>
      {{ title }}
    </h1>
		{{ form_start(form) }}
    <div class="row p-4">
			<div class="col">
				{{ form_row(form.title)}}
			</div>
			<div class="col">
				{{ form_row(form.author)}}
			</div>
	</div>
	    <div class="row p-4">
			<div class="col">
				{{ form_row(form.category)}}
			</div>
			<div class="col">
				{{ form_row(form.release_date)}}
			</div>
	</div>
	<div class="row p-4">
			<div class="col">
				{{ form_row(form.summary)}}
			</div>
			<div class="col">
				{{ form_row(form.quantity)}}
			</div>
	</div>
	<div class="row p-4">
			
			<div class="col">
				{{ form_row(form.for_child)}}
			</div>
	</div>
		<div class="text-danger">
			{{form_errors(form)}}
		</div>
		{{ form_end(form) }}
</div>
{% endblock %}
