{% extends 'base.html.twig' %}

{% block title %}
	{{"Book list"|trans}}
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css"/>

{% endblock %}

{% block body %}

	<div class="container d-flex flex-column justify-content-center text-white">
		<section class="example-wrapper">
		<div class="d-flex justify-content-between">
			<h2 class="fs-1">{{'Book'|trans}}</h2>
			<div>
				<a class="btn btn-success fs-2" href={{path("book_edit",{id:book.getId()})}}>{{'Edit'|trans}}</a>
				{% if is_granted('ROLE_ADMIN') %}
				<a class="btn btn-danger fs-2" href={{path("book_delete",{id:book.getId()})}}=>{{'Delete'|trans}}</a>
				{% endif %}
			</div>
		</div>
					<table id="" class="table fs-3 text-white">
					<tr>
						<th>{{"Quantity"|trans}}</th>
						<td>{{book.getQuantity()}}</td>
					</tr>
					<tr>
						<th>{{"Title"|trans}}</th>
						<td>{{book.getTitle()}}</td>
					</tr>
					<tr>
						<th>{{"Author"|trans}}</th>
						<td>{{book.getAuthor()}}</td>
					</tr>
					<tr>
						<th>{{"Summary"|trans}}</th>
						<td>{{book.getSummary()}}</td>
					</tr>
					<tr>
						<th>{{"release_date"|trans}}</th>
						<td>{{book.getReleaseDate()|date("d-M-Y","Europe/Paris")}}</td>
					</tr>
					<tr>
						<th>{{"Category"|trans}}</th>
						<td>{{book.getCategory()}}</td>
					</tr>
					<tr>
						<th>{{"forChild"|trans}}</th>
							<td>
								{% if book.getForChild() %}
									ᶘ ᵒᴥᵒᶅ
								{% else %}
									( ͡° ͜ʖ ͡°)
								{% endif %}
							</td>
					</tr>		
			</table>
		</section>
		<section class="row col-5 col-12 m-0 width-100">
			<h2>{{'Current borrowing client'|trans}}</h2>
			<table id="" class="table fs-3 text-white">
				<thead>
					<th>{{"Firstname"|trans}}</th>
					<th>{{"Lastname"|trans}}</th>
					<th >{{"Borrowed date"|trans}}</th>
					<th >{{"Due date"|trans}}</th>
				</thead>
				<tbody id="tableBody">
					{% for hist in history %}
						<tr id="tableBodyRow" class=                
							{% if (date(hist.getReturnedDate()) > date(hist.getDueDate())) or ("now"|date > date(hist.getDueDate()) and not hist.getReturnedDate()) %}
								"text-danger" 
							{% endif %}>
							<td>{{hist.getClient().getFirstName()}}</td>
							<td>{{hist.getClient().getLastName()}}</td>
							<td >{{hist.getBorrowDate()|date("d-M-Y H:i:s")}}</td>
							<td >{{hist.getDueDate()|date("d-M-Y H:i:s")}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>
	</div>
<style>
#table {
    transform:rotate(90deg);
}
#table th, #table td{
    transform:rotate(-90deg);
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"> 
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

{% endblock %}
