{% extends 'base.html.twig' %}

{% block title %}{{"Client list"|trans}}{% endblock %}
{% block stylesheets %} 
    <link rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css" /> {% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1280px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2>{{'Client'|trans}}</h2>
    <table id="" class="table">
        <thead>
            <th>{{"Firstname"|trans}}</th>
            <th>{{"Lastname"|trans}}</th>
            <th>{{"Birthdate"|trans}}</th>
            <th>{{"Adress"|trans}}</th>
            <th>{{"City"|trans}}</th>
            <th>{{"Email"|trans}}</th>
            <th>{{"Phone"|trans}}</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td>{{client.getFirstName()}}</td>
                <td>{{client.getLastName()}}</td>
                <td>{{client.getBirthDate().format("d-m-Y")}}</td>
                <td>{{client.getAdress()}}</td>
                <td>{{client.getCity()}}</td>
                <td>{{client.getMail()}}</td>
                <td>{{client.getPhone()}}</td>
                <td><a class="btn btn-success" href="./edit/{{client.getId()}}">{{'Edit'|trans}}</a></td>
                <td><a class="btn btn-danger" href="./delete/{{client.getId()}}"=>{{'Delete'|trans}}</a></td>
            </tr>
        </tbody>
    </table>
    <h2>{{'Borrowed book by'|trans}} {{client.getFirstName()}}</h2>
    <table id="myTable" class="display">
        <thead>
            <th>{{"Title"|trans}}</th>
            <th>{{"Author"|trans}}</th>
            <th>{{"Summary"|trans}}</th>
            <th>{{"release_date"|trans}}</th>
            <th>{{"Category"|trans}}</th>
            <th>{{"forChild"|trans}}</th>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{book.getTitle()}}</td>
                <td>{{book.getAuthor()}}</td>
                <td>{{book.getSummary()}}</td>
                <td>{{book.getReleaseDate()|date("d-M-Y","Europe/Paris")}}</td>
                <td>{{book.getCategory()}}</td>
                <td>{% if book.getForChild() %} ᶘ ᵒᴥᵒᶅ {% else %} ( ͡° ͜ʖ ͡°) {% endif %}</td>
                <td>
                <a class="btn btn-primary" href={{path("client_book_unlink", {idB : book.getId(),idC : app.request.get("id")})}}>{{'Unborrow'|trans}}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"> 
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
    $('#myTable').DataTable({
        columnsDefs: [
            { "width": "50%","targets":2 }
        ],
        language: {
        }
        
    });
    
} );
</script>
{% endblock %}